@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playfair+Display:wght@600&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    background :url(images/imag2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

header {
    background-color: blueviolet;
    width: 100;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: bisque;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: brown;
    text-decoration: double;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color:blue;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/imag1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h1 {
    color:black
    font-size: 1.4em;
    font-weight:backdrop;
}

.main h2 spam {
    display:inline-block;
    margin-top: 10px;
    color:blue;
    font-size: 3em;
    font-weight: 600;
}

.main-btn{
    color:blue
    background-color:black;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    margin-botton:40px;

}

.main h1{
    color: fuchsia
    font-size: 2cm;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
}

